<%= form_with(model: user_input, local: true) do |form| %>
  <% if user_input.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_input.errors.count, "error") %> prohibited this user_input from being saved:</h2>

      <ul>
      <% user_input.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :num_of_columns %>
    <%= form.number_field :num_of_columns, as: :select, collection: 2..10 %>
  </div>

  <div class="field">
    <%= form.label :input_list %>
    <%= form.text_area :csv %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
